.header {
  position: fixed;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  height: 95px;
  background: #4caf50;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  /* z-index: 100; */
  transition: left 0.3s, width 0.3s;
}

.header.sidebar-collapsed {
  left: 90px;
  width: calc(100% - 90px);
}

.header img {
  height: 40px;
  border-radius: 6px;
}
